
Statistiekalgoritmen/__pycache__/algoritmen.cpython-311.pyc
Statistiekalgoritmen/__pycache__/apiJson.cpython-311.pyc
.idea/misc.xml
.idea/puntcomma.iml
Statistiekalgoritmen/__pycache__/algoritmen.cpython-311.pyc
Statistiekalgoritmen/__pycache__/apiJson.cpython-311.pyc
