    <footer>
        <div class="container">
            <div class="primary_links">
                <div>
                    <p>© 2024 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.
                        VAT included in all prices where applicable.
                    </p>
                </div>
                <div>
                    <li><a href="https://store.steampowered.com/privacy_agreement" target=”_blank”>Privacy Policy</a></li>
                    <li><a href="https://store.steampowered.com/legal" target=”_blank”>Legal</a></li>
                    <li><a href="https://store.steampowered.com/subscriber_agreement" target=”_blank”>Steam Subscriber Agreement</a></li>
                    <li><a href="https://store.steampowered.com/steam_refunds" target=”_blank”>Refunds</a></li>
                    <li><a href="https://store.steampowered.com/account/cookiepreferences/" target=”_blank”>Cookies</a></li>
                </div>
            </div>
            <div class="secondary_links">
                <li><a href="https://www.valvesoftware.com/nl/about" target=”_blank”>About Valve</a></li><p> | </p>
                <li><a href="https://www.valvesoftware.com/nl/" target=”_blank”>Jobs</a></li><p> | </p>
                <li><a href="https://partner.steamgames.com/" target=”_blank”>Steamworks</a></li><p> | </p>
                <li><a href="https://partner.steamgames.com/steamdirect/" target=”_blank”>Steam Distribution</a></li><p> | </p>
                <li><a href="https://help.steampowered.com/en/" target=”_blank”>Support</a></li><p> | </p>
                <li><a href="https://store.steampowered.com/digitalgiftcards/" target=”_blank”>Gift Cards</a></li><p> | </p>
                <li><a href="https://www.facebook.com/Steam" target=”_blank”>Facebook</a></li><p> | </p>
                <li><a href="https://twitter.com/steam" target=”_blank”>Twitter</a></li>
            </div>
        </div>
    </footer>
</body>