<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free steam website where you can find game data, statistics and profile information">
    <meta name="keywords" content="Steam, Html, Css, Javascript, Statistics, Friends, Gaming">
    <meta name="author" content="Beau Gunther, Esra Cicek, Hanin Suwaid, Olivier Oostermann, Rick van der Voort">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
    <title>Groepsproject</title>
</head>

<body>
    <header>
        <nav class="header">
            <img class="logo" src="../static/images/steam_logo.png" alt="Steam Logo">
            <input type="checkbox" id="chk">

            <label for="chk" class="menubutton">
                <i class="fas fa-ellipsis-h"></i>
                &#9776
            </label>
            <ul class="menu">
                <a href="../home">Dashboard</a>
                <a href="../stats">Stats</a>
                <a href="../profile">profile</a>
            </ul>
        </nav>
    </header>