<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
    <title>Groepsproject</title>
</head>

<body>
    <header>
        <ul>
            <img id="steam_logo" src="static/images/steam_logo.png" alt="Steam Logo">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Game</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="#">Friends</a></li>
        </ul>
    </header>

    <h2> De eerste game </h2>
    <div>
        <p><strong>Naam:</strong> {{ eerste_game['name'] }} <br></p>
        <p><strong>Prijs:</strong> &euro; {{ eerste_game['price'] }}<br></p>
        <p><strong>Genres:</strong> {{ eerste_game['genres'] }}</p>
    </div>

    <div class="prijs_frequentie">
        <h2>Prijs opties</h2>
        <p>Er zijn {{ prijsfrequentie[0] }} games gratis<br></p>
        <p>Er zijn {{ prijsfrequentie[1] }} games tussen de 5&euro; en 10&euro;<br></p>
        <p>Er zijn {{ prijsfrequentie[2] }} games tussen de 10&euro; en 30&euro;<br></p>
        <p>Er zijn {{ prijsfrequentie[3] }} games tussen de 30&euro; en 60&euro;<br></p>
        <p>Er zijn {{ prijsfrequentie[4] }} games boven de 60&euro;</p>
    </div>
    <div class="frequentie_genres">

       <img src="static/images/graph_genre.png" alt="">
    </div>
</body>