{% include 'header.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<main id="body">
    <div class="content-div">
        <div class="banner-div">
            <h1 class="banner-text">Level Up Your Library: Discover the Coolest Steam Games</h1>
        </div>
        <br>
        <div class="banner-div-2">
            <p class="dashboard-text">Welcome to our platform! Easily log in with your steam-key and steam-id to access your profile page,
                where you can find personal information, your friends, and more.
                Explore our website for engaging statistics and interactive charts that provide insights into our website.</p>
        </div>
    </div>

    <div class="swiper">
        <div class="swiper-wrapper">
        {% for game_info_item in game_info %}
            {% for app_id, game_info_data in game_info_item.items() %}
                {% if game_info_data['success'] %}
                    <div class="swiper-slide">
                        <div class="card-contents">
                            <a href="{{ url_for('game', appid=app_id) }}"><img src="{{ game_info_data['data']['header_image'] }}"></a>
                            <p class="slideshow-game-title">{{ game_info_data['data']['name'] }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</main>
 {% include 'footer.html' %}

<script>
    var swiper = new Swiper('.swiper', {
        slidesPerView: 3,
        centeredSlides: true,
        direction: 'horizontal',
        spaceBetween: '20',
        loop: true,

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            1200: {
                slidesPerView: 3,
            },
        }
    });
</script>