{% include 'header.html' %}
<main id="body">
    <h2> De eerste game </h2>
    <div>
        <p><strong>Naam:</strong> {{ eerste_game['name'] }} <br></p>
        <p><strong>Prijs:</strong> &euro; {{ eerste_game['price'] }}<br></p>
        <p><strong>Genres:</strong> {{ eerste_game['genres'] }}</p>
    </div>


    <div class="slideshow">
        {% for game_info_item in game_info %}
            {% for app_id, game_info_data in game_info_item.items() %}
                {% if game_info_data.success %}
                    <div class="slideshow_games">
                        <a href="{{ url_for('game', appid=app_id) }}">
                            <img src="{{ game_info_data.data.header_image }}">
                        </a>
                        <p>{{ game_info_data.data.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

<br>
    <img src="static/images/graph_price.png" alt="Graph for price categories">
    <img src="static/images/graph_genre.png" alt="">
</main>
 {% include 'footer.html' %}