{% include 'header.html' %}
<main id="profile">
    <div>
        <div  class="Profile_img"><a href="{{ user_profile['avatarfull'] }}" target="_blank"><img src="{{ user_profile['avatarfull'] }}" alt="Avatar"></a></div>
        <p><strong>Real name:</strong> {{user_profile["realname"]}} <br></p>
        <p><strong>Persona name:</strong> {{user_profile["personaname"]}} <br></p>
        <p><strong>Profiel URL:</strong> <a href="{{ user_profile['profileurl'] }}" target="_blank" >My Steam profile</a><br></p>
        <p><strong>Country code:</strong> {{user_profile["loccountrycode"]}} <br></p>
        <p><a href="{{ url_for('owned_games') }}"><strong>Owned games</strong></a> {{owned_games["game_count"]}}</p>
    </div>
    <div id="games_list">
        <h1>Top played games:</h1>
        {% for game_info in owned_game_info %}
        <p>{{ game_info["gameName"] }}<br></p>
        {% endfor %}
    </div>
</main>
{% include 'footer.html' %}