{% include 'header.html' %}
<h1 class="stats_text">Diagrams</h1>
<main id="stats">
    <div>
        <img src="../static/images/graph_price.png" alt="Graph for price categories">
        <p>With this bar chart, you can see how many games fall into each price category.</p>
    </div>
    <div>
        <img src="../static/images/graph_genre.png" alt="Graph for genres">
        <p>With this bar chart, you can see how frequently the top 10 genres occur in games.</p>
    </div>
    <div>
        <img src="../static/images/graph_rapportcijfers.png" alt="">
        <p>This diagram shows the scores for the games. It distinguishes between half digits. For example, you should interpret 0.5 as: from 0 to 0.5.
            Then the y axis shows the number of games for this figure.</p>
    </div>
    <div>
        <img src="../static/images/linear_regression_price_rating.png" alt="">
        <p>The higher the price the higher the rating is. </p>
    </div>
    <div>
        <img src="../static/images/linear_regression_achievements_playtime.png" alt="Graph for predicted average playtime">
        <p>With this bar chart, you can see how many hours a game is expected to be played based on how many achievements a game has.</p>
    </div>
    <div>
        <img src="../static/images/graph_ratings_20.png" alt="">
        <p>This pie chart shows the division between positive and negative. The title shows the total number of ratings given.</p>
    </div>
    <div>
        <p>
            {% if results %}
        <h3 class="data_onderzoek">Research data:</h3>
        {% for result in results %}
            <p>{{ result }}</p>
        {% endfor %}
        {% endif %}
        </p>
    </div>
</main>
{% include 'footer.html' %}