{% include 'header.html' %}
<h1 class="dashboard_text">Diagrams</h1>
<main id="stats">
    <div>
        <img src="../static/images/graph_price.png" alt="Graph for price categories">
        <p>With this bar chart, you can see how many games fall into each price category.</p>
    </div>
    <div>
        <img src="../static/images/graph_genre.png" alt="Graph for genres">
        <p>With this bar chart, you can see how frequently the top 10 genres occur in games.</p>
    </div>
</main>
{% include 'footer.html' %}